body{
    text-align: center;
    margin-top: auto;
    font-weight: bold;
}
.select_group{                                              
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
}
.input_group{
    text-align: left;
    margin:20px;
    font-weight:bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.select_tri_group{
    text-align: left;
    margin-top: 20px;
}
.input_group_triangulo{
    text-align: left;
    margin-top: 20px;
}
button{
    scroll-margin-bottom: auto;
    padding-bottom: 20px;
}